section.section.section__header(data-section="home")
  header.header
    .container
      //- .header__top
      //-   nav.header__nav
      //-     ul.nav__list
      //-       li.nav__item
      //-         a.nav__link(href="#home") home
      //-       li.nav__item
      //-         a.nav__link(href="#about") about
      //-       li.nav__item
      //-         a.nav__link(href="#works") works
      //-       li.nav__item
      //-         a.nav__link(href="#contacts") contacts
      .header__main
        h1.header__title HTML / CSS / JavaScript development
        p.header__subtitle 
          | Hi! We are a web developers and frontend is our main specialization.</br>
          | If you need a PSDtoHTML converting, script writing or create any type of web sites,</br> contact us and we'll find best solution.      
        .header__aboutus
          .aboutus__column
            img.header__photo__image(src='./images/avatar_tim.jpg' alt='tim')
            .aboutus__contacts
              a.aboutus__contacts__mail(href="mailto:tim.workbench@gmail.com") tim.workbench@gmail.com
              a.aboutus__contacts__skype(href="skype:jz828059?chat") skype jz828059
          .aboutus__column
            img.header__photo__image(src='./images/avatar_vit.jpg' alt='vit')
            .aboutus__contacts
              a.aboutus__contacts__mail(href="mailto:homenkovit@gmail.com") homenkovit@gmail.com
              a.aboutus__contacts__skype(href="skype:homenkovitalij?chat") skype homenkovitalij
        //- .header__buttondown