nav.nav
  .container
    ul.nav__list
      li.nav__item.active-link
        a.nav__link(href="#home") home
      li.nav__item
        a.nav__link(href="#works") works
      li.nav__item
        a.nav__link(href="#contacts") contacts