nav.nav
  .container
    ul.nav__list(id="menu")
      li.nav__item(data-menuanchor="home")
        a.nav__link.nav__link_home(href="#home") home
      li.nav__item(data-menuanchor="works")
        a.nav__link.nav__link_works(href="#works") works
      li.nav__item(data-menuanchor="contacts")
        a.nav__link.nav__link_contacts(href="#contacts") contacts