section.works
  a.works-close-button(href="javascript:void(0)")
    span.works-close-button__icon(aria-hidden="true")

  .works-container
    ul.works__previews
      li.works__list.works__list_work-1
        .works__list-container
          span.works__title
            h2.works__name Project 1
            p.works__about Brief description of the project here
          a.works__link(href="http://tajam.homenkovit.ru" target="_blank") Go to site      
      li.works__list.works__list_work-2
        .works__list-container
          span.works__title
            h2.works__name Project 2
            p.works__about Brief description of the project here
          a.works__link(href="http://appleshop.homenkovit.ru" target="_blank") Go to site      
      li.works__list.works__list_work-3
        .works__list-container
          span.works__title
            h2.works__name Project 3
            p.works__about Brief description of the project here
          a.works__link(href="http://notify.homenkovit.ru" target="_blank") Go to site      
      li.works__list.works__list_work-4
        .works__list-container
          span.works__title
            h2.works__name Project 4
            p.works__about Brief description of the project here
          a.works__link(href="http://haap.homenkovit.ru" target="_blank") Go to site