.header
  background: url('../images/header__bg.jpg') center center no-repeat
  background-size: cover
  position: relative
  color: white
  text-align: center
  height: 100vh
  min-height: 620px
  &__main
    height: 100%
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
  &__title
    font-size: 45px
    margin-bottom: 40px
  &__subtitle
    font-size: 18px
    margin-bottom: 40px
    line-height: 35px
  &__aboutus
    width: 600px
    display: flex
    justify-content: space-around
  &__photo__image
    width: 200px
    display: block
    border-radius: 50%
    margin-bottom: 30px
.aboutus
  &__column
    display: flex
    flex-direction: column
    justify-content: space-between
    margin-bottom: 30px
  &__contacts
    display: flex
    flex-direction: column
    justify-content: space-around
  &__contacts__mail
    display: block
    font-size: 18px
  &__contacts__skype
    display: block
    font-size: 20px
    color: white
    

