.section__contacts
	background-color: white
.container_contacts
	display: flex
	flex-direction: column
	justify-content: center
	align-items: center
.contacts-form
	width: 400px
	&__heading
		color: black
		margin-bottom: 20px
		font-size: 40px
		font-weight: normal
		text-align: center
	&__list
		position: relative
	&__item
		margin-bottom: 20px
		width: 100%
		position: relative
	&__label
		color: $darkgrey
		font-size: 16px
		margin-bottom: 10px
		display: block
	&__input
		width: 100%
		height: 40px
		border: 1px solid $light-grey
		padding: 10px 20px
		transition: opacity 0.3s ease
		@include placecolor($placeholder)
		&:focus
			outline-color: $links-color
		&_textarea
			resize: none
	&__input_textarea
		height: 90px
	&__buttons
		@include clearfix
	&__button
		width: 120px
		height: 40px
		border: 1px solid $light-grey
		background-color: white
		color: $darkgrey
		&:hover
			color: black
			border: 2px solid $links-color
		&:focus
			color: black
			border: 2px solid $links-color
		&_send
			float: left
			margin-left: 30px
			&:focus
				outline: none
		&_clear
			float: right
			margin-right: 30px
			&:focus
				outline: none
.fileinput-button
	width: 100%
	display: block
	text-align: center
	border: 1px solid $light-grey
	line-height: 60px
	font-size: 16px
	color: $darkgrey
	&:hover
		border: 2px solid $links-color
		color: black
		line-height: 58px
.filelist-container
	position: absolute
	left: 420px
	top: 365px
.controlred
	border: 1px solid #F97E76
	cursor: auto
	background-color: #fad2d1
	&:focus
		outline: #F97E76
.display
	&_block
		display: block !important
	&_none
		display: none
.email-message
	&_empty
		display: none
		position: absolute
		right: -190px
		top: 38px
		background-color: $links-color
		line-height: 27px
		color: white
		padding: 0 10px 0 10px
		&:before
			width: 0
			height: 0
			border-style: solid
			border-width: 6px 6px 6px 0
			border-color: transparent $links-color transparent transparent
			content: " "
			position: absolute
			left: -6px
			top: 8px
	&_invalid
		display: none
		position: absolute
		right: -120px
		top: 38px
		background-color: $links-color
		line-height: 27px
		color: white
		padding: 0 10px 0 10px
		&:before
			width: 0
			height: 0
			border-style: solid
			border-width: 6px 6px 6px 0
			border-color: transparent $links-color transparent transparent
			content: " "
			position: absolute
			left: -6px
			top: 8px

#successblock,#errorblock
	display: none
	text-align: center
#successblock
	color: #004d00
#errorblock
	color: #990000

.label_required:after
	color: #cb2821
    font-size: 16px
    font-weight: bold
	content: "*"
	padding-left: 3px