/*==========  Desktop First Method  ==========*/

@media only screen and (max-width: $container-width-1000)
	.container 
		width: $container-width-1000
	
@media only screen and (max-width: 1640px)
	.nav-fix
		height: 50px
		content: ""
	.nav 
		background-color: #222222
@media only screen and (min-width: 1641px)		
	.works-container
		padding-top: 50px