/*==========  Desktop First Method  ==========*/

@media only screen and (max-width: $container-width-1000)
	.container 
		width: $container-width-1000
	
@media only screen and (max-width: 1300px)
	// .nav-fix
	// 	height: 50px
	// 	content: ""
	.nav 
		background-color: #222222
@media only screen and (min-width: 1300px)		
	.works-container
		padding-top: 50px
@media only screen and (max-device-height: 621px) and (min-width: 1000px)		
	.section__contacts,.section__header
		padding-top: 50px